<div class="container">
    <nav aria-label="breadcrumb" class="mt-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/viewers">Viewers</a></li>
            <li class="breadcrumb-item active" aria-current="page">All</li>
        </ol>
    </nav>
    {{!--/.breadcrumb--}}
    <h1 class="mt-4 mb-4">
        {{title}}: {{viewer.display_name}}
    </h1>
    {{> viewers_list_table }}
</div>


