<header>
    <div class="navbar navbar-dark bg-dark">
        <div class="container d-flex justify-content-center">
            <a href="#" class="navbar-brand d-flex align-items-center">
            <strong>Etech Events</strong>
          </a>
            <button class="navbar-toggler d-none" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
    </div>
</header>

<main role="main">
    <div class="container-fluid p-0">
        {{> viewer_detail_card }}
    </div>
</main>

